__pycache__
olddata
data
*ipynb
.vscode
*.txt
*DS_Store*
*test*
*egg-info
.yarn
Makefile
node_modules
frontend/.yarn
frontend/.pnp.loader.mjs
frontend/.pnp.cjs
human_eval

# runs
*slide*
*pptx
*jpg
api_key.json