__pycache__
olddata
data
*ipynb
.vscode
*.txt
*DS_Store*
*test*
*egg-info
.yarn
# runs
*.pptx
*slide*
Makefile
node_modules
frontend/.yarn
frontend/.pnp.loader.mjs
frontend/.pnp.cjs
human_eval
api_key.json